doctype html
link(rel='stylesheet', href='/stylesheets/css/skel.css')
link(rel='stylesheet', href='/stylesheets/css/style.css')
link(rel='stylesheet', href='/stylesheets/css/style-xlarge.css')

html. //START of HTML
	<head>
		<title>Tenjin | Home</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/jquery.scrolly.min.js"></script>
		<script src="/javascripts/jquery.dropotron.min.js"></script>
		<script src="/javascripts/jquery.scrollex.min.js"></script>
		<script src="/javascripts/skel.min.js"></script>
		<script src="/javascripts/skel-layers.min.js"></script>
		<script src="/javascripts/init.js"></script>
		<!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon"> -->
		<link rel="icon" href="favicon.ico">
		<!-- JavaScript -->
			<script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>

			<script>
				Parse.initialize("04cGriUtorHQavQ5kjbBfhLvynpv6X0jhsrUuMbO", "uQ11EadEgRBGXIroKV4T2YVGZjaLoKRFngZmDA2N");

				function signUpUser(){
					var user = new Parse.User();
					user.set("username", document.getElementById('username-text').value);
					user.set("password", document.getElementById('password-text').value);

					user.signUp(null, {
					  success: function(user) {
						// Hooray! Let them use the app now.
						window.location.replace("notepad2.html");
					  },
					  error: function(user, error) {
						// Show the error message somewhere and let the user try again.
						alert("Error: " + error.message);
					  }
					});
				}

				function logInUser(){
					var user = new Parse.User();
					user.set("username", document.getElementById('username-text').value);
					user.set("password", document.getElementById('password-text').value);

					Parse.User.logIn(document.getElementById('username-text').value, document.getElementById('password-text').value, {
						success: function(user) {
							// Do stuff after successful login.
							window.location.replace("notepad2.html");
						},
						error: function(user, error) {
							// The login failed. Check error to see why.
							alert("Error: " + error.message);
						}
					});
				}
			</script>
	</head>
	<body class="landing" style="font-size: 100%;">
		<div id="skel-layers-wrapper" style="position: relative; left: 0px; right: 0px; top: 0px; -webkit-backface-visibility: hidden; -webkit-perspective: 500; -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease; transition: -webkit-transform 0.5s ease, opacity 0.5s ease;">
			<!-- Header -->
			<header id="header">
				<h1 id="logo"><img src="/images/logo.png" style="padding-top: 10px; padding-left: 18px; height: 42px"></h1>
				<!-- <nav id="nav" style="padding-right: 25px">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="index.html">About</a></li>
					</ul>
					</li>
					</ul>
				</nav> -->
			</header>

			<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header><center>
						<img src="/images/logo.png" style="height: 100px">
						</script>
							<p>Listen. Learn. Discuss.<br/>
							Staying involved in class has never been easier.<br><br></p>
					   <iframe src="//fast.wistia.net/embed/iframe/cxcpwkx8ms?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="350" height="197"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js"></script>
						</center>       
					</header>
				</div>
				<div class="content">
					<form>
						<label style="margin-bottom:0em; text-align:left">Username:</label>
						<input id="username-text" type="text" class="form-control" size="30px"/>
						<label style="margin-top:0.2em; margin-bottom:0em; text-align:left">Password:</label>
						<input id="password-text" class="form-control" type="password" size="30px" style="margin-bottom:10px" />
						<center>
							<div id="signup" class="button special small" style="margin-top:0.5em" onclick="signUpUser()">Sign Up</div>
							<div id="login" class="button special small" style="margin-top:0.5em" onclick="logInUser()">Log In</div>
						</center>
					</form>
				</div>
				<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="/images/phone_banner.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>Staying involved in class has never been easier</h2>
										<p>Use Tenjin to maximize learning.</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>
										[INSERT DESCRIPTION HERE.]
									</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>
										[INSERT DESCRIPTION HERE.]
									</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Features</h2>
							<p>Amazing features. All available at your fingertips. Sign up today!</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-microphone"></span>
									<h3>Voice-to-Text</h3>
									<p>Simply start recording using your phone. We'll convert it to text.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-joomla"></span>
									<h3>Smart Results</h3>
									<p>Our AI assisstant will keep you updated with relavent news, articles, and research.</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-question"></span>
									<h3>Relavent Terms</h3>
									<p>Confused? We'll keep you updated with the important terms.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-archive"></span>
									<h3>Notecards</h3>
									<p>We'll compile all of the information from the lecture so that you can study from it!</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-paper-plane"></span>
									<h3>Sharing</h3>
									<p>Share the information with your friends to keep them involved as well.</p>
								</section>
								<section class="4u$ 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-university"></span>
									<h3>Classroom Tools</h3>
									<p>Create groups for your class to keep everybody informed and involved!</p>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions">
								<li><a href="#" class="button">Contact Us</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Sign up to get updates today.</h2>
							<p>We promise we won't spam you!</p>
						</header>
						<form method="post" action="#" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Tenjin. All rights reserved.</li><li><a href="http://html5up.net">Design</a></li>
					</ul>
				</footer>
		</div>
	</body>